<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">

    <servers>
        <server>
            <id>nexus-ebi-pst-proxy-group</id>
            <username>${env.CI_MVN_PST_USER}</username>
            <password>${env.CI_MVN_PST_PASS}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>psicquic-view</id>
            <properties>
                <service.name>psicquic</service.name>
                <config.file>file:/nfs/public/rw/intact/psicquic/psicquic-view/psicquic-view-conf.properties</config.file>
            </properties>
        </profile>
        <profile>
            <id>imex-view</id>
            <properties>
                <service.name>imex</service.name>
                <config.file>file:/nfs/public/rw/intact/psicquic/psicquic-view/imex-view-conf.properties</config.file>
            </properties>
        </profile>
        <profile>
            <id>psicquic-view-test</id>
            <properties>
                <clustering.storage.directory>/nfs/public/rw/intact/psicquic/psicquic-view/clustering-test/cluster-cache</clustering.storage.directory>
            </properties>
        </profile>
        <profile>
            <id>imex-view-test</id>
            <properties>
                <clustering.storage.directory>/nfs/public/rw/intact/psicquic/imex-view/clustering-test/cluster-cache</clustering.storage.directory>
            </properties>
        </profile>
        <profile>
            <id>psicquic-view-prod</id>
            <properties>
                <clustering.storage.directory>/nfs/public/rw/intact/psicquic/psicquic-view/clustering/cluster-cache</clustering.storage.directory>
            </properties>
        </profile>
        <profile>
            <id>imex-view-prod</id>
            <properties>
                <clustering.storage.directory>/nfs/public/rw/intact/psicquic/imex-view/clustering/cluster-cache</clustering.storage.directory>
            </properties>
        </profile>
    </profiles>
</settings>