/*
	*** TEMPLATE - please apply your custom values ***


	Colour palette: [project name] [main colour]
	Details: Accented Analogic from ColourSchemeDesigner
	         http://colorschemedesigner.com/[custom URL]

*/

/*

*** Primary Color:

   var. 1 = #909090 = rgb(144,144,144)
   var. 2 = #6C6C6C = rgb(108,108,108)
   var. 3 = #5E342F = rgb(94,52,47)
   var. 5 = #C8C8C8 = rgb(200,200,200)

*** Secondary Color A:

   var. 3 = #5E462F = rgb(94,70,47)

*** Secondary Color B:

   var. 1 = #787878 = rgb(120,120,120)
   var. 3 = #4E273A = rgb(78,39,58)
   var. 5 = #BCBCBC = rgb(188,188,188)

*** Complementary Color:

   var. 2 = #515151 = rgb(81,81,81)

*/


/* Color
===================================================*/

/* These style rules will over-ride the core EBI styles and apply
    your custom colour palette in a consistent manner */

/* Links */
/*a:link,*/
/*a:visited { border-bottom-color: #909090; }*/

/*a:hover,*/
/*a:focus,*/
/*a:active {*/
    /*color: #909090;*/
    /*border-bottom: 1px solid #909090;*/
/*}*/

/*a.special:hover,*/
/*a.special:focus,*/
/*a.special:active {*/
    /*color:#909090;*/
    /*border-bottom: 3px double #909090;*/
/*}*/


/*a:link { color: #5E462F; }*/

/*a:hover,*/
/*a:focus,*/
/*a:active { color: #4E273A; }*/

/*a.special { background-color: #BCBCBC; }*/


/* Headings */
/*h1, h2, h3, h4, h5, h6 { color: #222222; }*/

/*h1 { color: #909090; }*/

/*h2 { color: #515151; }*/

/*h1 a:link,*/
/*h2 a:link,*/
/*h3 a:link,*/
/*h4 a:link,*/
/*h5 a:link,*/
/*h6 a:link,*/
/*h1 a:visited,*/
/*h2 a:visited,*/
/*h3 a:visited,*/
/*h4 a:visited,*/
/*h5 a:visited,*/
/*h6 a:visited {*/
    /*border-bottom-color: #909090;*/
/*}*/


/* Table heading cells */
/*th { background-color: #C8C8C8; }*/


/* Form submission button */
/*input.submit {*/
    /* colours */
    /*color: #fff;*/
    /*text-shadow: #5E342F 1px 1px;*/
    /*border-top: 1px solid #C8C8C8;*/
    /*border-left: 1px solid #C8C8C8;*/
    /*border-right: 1px solid #5E342F;*/
    /*border-bottom: 1px solid #5E342F;*/

    /*background-image: -moz-linear-gradient(top, #909090, #6C6C6C);*/
    /*background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #ccc),color-stop(1, #6C6C6C));*/
    /*background-image: -webkit-linear-gradient(#909090, #6C6C6C);*/
    /*background-image: linear-gradient(top, #909090, #6C6C6C);*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#909090', EndColorStr='#6C6C6C');*/
/*}*/

/* Define the basic colour your local masthead */
/*div#local-masthead { background-color: #C8C8C8; }*/

/*Define the basic colour your local masthead*/
div#local-masthead {
    background-color: #C8C8C8;
    background-image: -moz-linear-gradient(top, #C8C8C8, #909090);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #C8C8C8),color-stop(1, #909090));
    background-image: -webkit-linear-gradient(#C8C8C8, #909090);
    background-image: linear-gradient(top, #C8C8C8, #909090);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#C8C8C8', EndColorStr='#909090');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#C8C8C8', EndColorStr='#909090')";
}

#mainForm table, #mainForm td, #mainForm th {
    border-style: none;
    background-color: #f7f7f7;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
}

td.af_selectOneChoice_label{
    padding: 0px;
}

ul.statusMenu {
    list-style-type: none;
}

#servicesTable table, #servicesTable td, #servicesTable th{
    border-style: none;
    background-color: white;
    border-spacing: 0;
    border-collapse: collapse;
    padding: 1px;
    margin: 1px;
    text-align: left;
    vertical-align: text-top;
}

#serviceForm table, #serviceForm td, #serviceForm th, #serviceForm tr {
    border-style: none;
    background-color: white;
    border-spacing: 0;
    border-collapse: separate;
    padding: 0px;
    margin: 0px;
}

#serviceForm .af_panelPopup_content {
    background: #E9E8E8;
    border: 0 none;
    padding: 5px;
    vertical-align: top;
}

#mainForm .af_panelPopup_content {
    background: #E9E8E8;
    border: 0 none;
    padding: 5px;
    vertical-align: top;
}

#clusteredForm .af_panelPopup_content {
    background: #E9E8E8;
    border: 0 none;
    padding: 5px;
    vertical-align: top;
}

#serviceForm table.af_selectManyShuttle, #serviceForm table.af_selectManyShuttle tr, #serviceForm table.af_selectManyShuttle td,
#serviceForm table.af_selectManyShuttle th{
    background: #9D9D9D;
}

#clusteredForm table.af_selectManyShuttle, #clusteredForm table.af_selectManyShuttle td, #clusteredForm table.af_selectManyShuttle tr,
#clusteredForm table.af_selectManyShuttle th {
    background: #9D9D9D;
}

#serviceForm label.p_OraHiddenLabel{
    visibility: hidden;
}

#clusteredForm label.p_OraHiddenLabel{
    visibility: hidden;
}

#serviceForm td.OraShuttleHeader{
    font-weight: bold;
}

#clusteredForm td.OraShuttleHeader{
    font-weight: bold;
}

#download table, #download td, #download th, #download tr {
    border-style: none;
    border-spacing: 0;
    border-collapse: separate;
    padding: 0px;
    margin: 0px;
    background: #E9E8E8;
}

.af_dialog_container {
    background: #E9E8E8;
}
.af_dialog_content{
    background: #E9E8E8;
}
.downloadPopup{
    background: #E9E8E8;
}

#downloadHorizontalPanel tr{
    background: #E9E8E8;
}

#downloadSelectOneChoice__xc_ table, #downloadSelectOneChoice__xc_ tr, #downloadSelectOneChoice__xc_ td{
    background: #E9E8E8;
}

#downloadHorizontalPanel table, #downloadHorizontalPanel tr, #downloadHorizontalPanel td{
    background: #E9E8E8;
}

#jobListBox table, #jobListBox td, #jobListBox th, #jobListBox tr{
    background-color: #E9E8E8;
    border: 1px;
    padding: 1px;
}

#jobListBox td.af_panelBox_header{
    font-weight: bold;
}

#rightPanel td.af_panelBox_header{
    font-weight: bold;
}

#interactionResults th.af_column_header-text{
    background-color: #9D9D9D;
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    margin: 9px auto;
    border-color: #f1f1f1;
    padding: 1px;
    border-style: solid;
}

#interactionResults table.af_table_content {
    background-color: white;
    border: 5px solid #f1f1f1;
    border-collapse: collapse;
    margin: 9px auto;
    padding: 1px;
}

#interactionResults tr.af_column_cell-text-band, #interactionResults td.af_column_cell-text {
    background-color: white;
    border: 1px solid #f1f1f1;
    border-collapse: collapse;
    margin: 9px auto;
    border-color: #f1f1f1;
    padding: 1px;
    border-style: solid;
}

#clusteredForm table, #clusteredForm td, #clusteredForm th, #clusteredForm tr {
    border-style: none;
    background-color: white;
    border-spacing: 0;
    border-collapse: separate;
    padding: 0px;
    margin: 0px;
}

#clusterNav form a.OraLink{
    font-family: Verdana,sans-serif;
}

#serviceForm table.af_panelTabbed_orientation-top{
    background-color: #E9E8E8;
}

#interactionResults table.af_table_control-bar-top, #interactionResults table.af_table_control-bar-top td, #interactionResults table.af_table_control-bar-top tr {
    background-color: #9D9D9D;
}

#interactionResults a.af_panelPopup_link{
    font-weight: bold;
    color: #0f2559;
}

#interactionResults a.OraNavBarActiveLink{
    font-weight: bold;
    color: #0f2559;
}

div#localSearch form fieldset, form#localSearch fieldset {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 0.5em 2em 0.5em 0.3em;
}

.oldie div#localSearch form fieldset, .oldie form#localSearch fieldset {
    background-color: transparent;
}

div#localSearch form fieldset div.left, form#localSearch fieldset div.left {
    float: left;
    margin-right: 2%;
    width: 80%;
}
div#localSearch form fieldset div.right, form#localSearch fieldset div.right {
    float: left;
    text-align: center;
    width: 18%;
}

@media only screen and (min-width: 1100px) {
    div#localSearch form, form#localSearch {
        float: right;
    }
    div#localSearch form fieldset, form#localSearch fieldset {
        max-width: 440px;
    }
}
div#localSearch form fieldset input.form-submit, div#localSearch form fieldset input.submit, form#localSearch fieldset input.submit {
    display: inline;
    margin: 0.3em 0.2em 0.1em;
}
div#localSearch form fieldset input.form-text, div#localSearch form fieldset input#local-searchbox, form#localSearch fieldset input#local-searchbox {
    font-size: 123.1%;
    width: 95%;
}
div#localSearch form fieldset span.examples, form#localSearch fieldset span.examples {
    font-size: 80%;
    margin: 0 0 0 0.3em;
}
div#localSearch form fieldset span.adv, form#localSearch fieldset span.adv {
    font-size: 80%;
    margin: 0;
}


/* Colour the faux-underline for local menu items */
/*div#local-masthead ul li a:hover,*/
/*div#local-masthead ul li a:focus,*/
/*div#local-masthead ul li a:active {*/
    /*border-bottom: 3px solid #909090;*/
/*}*/


span.searchterm{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 500px;
}

span.searchterm:hover {
    overflow: visible;
    white-space: normal;
    width: 90%;
    display: block;
}

table.servicesResultTable {
    width: auto;
}

/*Override colors for the tabs*/

.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #A7A7A7;
    color: #222222;
    font-weight: bold;
}
.ui-widget-header a {
    color: #222222;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #EBEBEB;
    font-weight: normal;
    color: #555555;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: #555555;
    text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #dadada url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #212121;
}
.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited {
    color: #212121;
    text-decoration: none;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid #aaaaaa;
    background: #ffffff url("images/ui-bg_glass_65_ffffff_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #005090;
}
.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #212121;
    text-decoration: none;
}